.hero {
  display: flex;
  justify-content: space-between;
}

.left-h {
  padding: 2rem;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 2rem;
}

.right-h {
  flex: 1;
  position: relative;
  background-color: var(--orange);
}

.the-best-ad {
  margin-top: 80px;
  background-color: #363d42;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 4rem;
  text-transform: uppercase;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
}
.the-best-ad > span {
  z-index: 2;
}
.the-best-ad > div {
  background-color: var(--orange);
  position: absolute;
  left: 6px;
  width: 5rem;
  height: 80%;
  border-radius: 5rem;
  z-index: 1;
}

.hero-text {
  font-size: 5.5rem;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: white;
  gap: 1.5rem;
  text-transform: uppercase;
}

.hero-text > div:nth-of-type(3) {
  font-size: 1rem;
  font-weight: 200;
  text-transform: none;
  letter-spacing: 1px;
  width: 80%;
}

.figure {
  display: flex;
  gap: 2rem;
}

.figure > div {
  display: flex;
  flex-direction: column;
}

.figure > div > span:nth-of-type(1) {
  color: white;
  font-size: 2rem;
}

.figure > div > span:nth-of-type(2) {
  color: var(--gray);
  text-transform: uppercase;
}

.hero-button {
  display: flex;
  gap: 1rem;
  font-weight: normal;
}

.hero-button > :nth-child(1) {
  color: white;
  background-color: var(--orange);
  width: 8rem;
}

.hero-button > :nth-child(2) {
  color: white;
  background-color: transparent;
  width: 8rem;
  border: 2px solid var(--orange);
}

.right-h > .btn {
  position: absolute;
  right: 3rem;
  top: 2rem;
}

.heart-rate {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--darkGrey);
  width: fit-content;
  padding: 1rem;
  align-items: start;
  border-radius: 5px;
  position: absolute;
  right: 4rem;
  top: 7rem;
}

.heart-rate > img {
  width: 2rem;
}

.heart-rate>: nth-child(2) {
  color: var(--gray);
}
.heart-rate > :nth-child(3) {
  color: white;
  font-size: 1.5rem;
}

.hero-image {
  position: absolute;
  top: 10rem;
  right: 8rem;
  width: 23rem;
}

.hero-image_back {
  position: absolute;
  top: 4rem;
  right: 20rem;
  z-index: -1;
}

.calories {
  display: flex;
  gap: 2rem;
  background-color: var(--caloryCard);
  border-radius: 5px;
  width: fit-content;
  padding: 1rem;
  position: absolute;
  top: 32rem;
  right: 28rem;
}
.calories > img {
  width: 3rem;
}
.calories > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.calories > div > :nth-child(1) {
  color: var(--gray);
}
.calories > div > :nth-child(2) {
  color: white;
  font-size: 1.5rem;
}

.hero-blur {
  width: 22rem;
  height: 30rem;
  left: 0;
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
  .hero-blur {
    width: 14rem;
  }
  .the-best-ad {
    margin-top: 0;
    font-size: small;
    align-self: center;
    transform: scale(0.8);
  }
  .hero-text {
    font-size: xx-large;
    align-items: center;
    justify-content: center;
  }
  .hero-text > div:nth-of-type(3) {
    font-size: small;
    font-weight: 200;
  }
}
